<a href="https://colab.research.google.com/github/aplha27/infosys_intern/blob/main/infosys_assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

# Load the Excel file
data_path = 'combined_data.xlsx'
df = pd.read_excel(data_path)

# Function to clean and convert text to lowercase
def clean_text(text):
    if isinstance(text, str):
        return ' '.join(text.lower().split())  # Convert to lowercase and remove extra spaces/newlines
    return text

# Apply the cleaning function to all text-based columns
df = df.applymap(clean_text)

# Save the cleaned data back to a new file
output_path = 'cleaned_combined_data.xlsx'
df.to_excel(output_path, index=False)

# Basic Data Analysis
print("Basic Information:")
print(df.info())

print("\nSummary Statistics:")
print(df.describe(include='all'))

print("\nMissing Values:")
print(df.isnull().sum())

# Create a directory for saving plots
output_dir = 'EDA analysis'
os.makedirs(output_dir, exist_ok=True)

# Advanced Analysis
# Distribution of Numerical Columns
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
for col in numerical_cols:
    plt.figure(figsize=(8, 4))
    sns.histplot(df[col], kde=True, bins=30)
    plt.title(f'Distribution of {col}')

    plt.close()  # Close the figure to free memory

# Count Plots for Categorical Columns
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    plt.figure(figsize=(8, 4))
    sns.countplot(data=df, y=col, order=df[col].value_counts().index)
    plt.title(f'Count Plot of {col}')

    plt.close()  # Close the figure to free memory

# Pairplot for numerical columns
if len(numerical_cols) > 1:
    pairplot = sns.pairplot(df[numerical_cols])

    plt.close()  # Close the figure to free memory

# Grouping and Aggregation
print("\nGrouping and Aggregation Example:")
grouped_data = df.groupby(categorical_cols[0])[numerical_cols].mean()
print(grouped_data)

# Save the cleaned data
print(f"Cleaned data saved to {output_path}")

<ipython-input-1-44ecd3f4f553>:17: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(clean_text)

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3250 entries, 0 to 3249
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   3250 non-null   object
 1   Name                 3250 non-null   object
 2   Role                 3250 non-null   object
 3   Transcript           3250 non-null   object
 4   Resume               3250 non-null   object
 5   decision             3250 non-null   object
 6   Reason for decision  3250 non-null   object
 7   Job Description      3250 non-null   object
dtypes: object(8)
memory usage: 203.3+ KB
None

Summary Statistics:
               ID    Name            Role  \
count        3250    3250            3250
unique       3250    2029              25
top     brenbr359  ananya  data scientist
freq            1      21             592

                                               Transcript  \
count                                                3250
unique                                               3250
top     product manager interview transcript interview...
freq                                                    1

                                                   Resume decision  \
count                                                3250     3250
unique                                               3250        4
top     here's a sample resume for brent brown applyin...   reject
freq                                                    1     1121

        Reason for decision                                    Job Description
count                  3250                                               3250
unique                  529                                               1843
top     technical knowledge  struggled to effectively communicate ideas., l...
freq                    201                                                 36

Missing Values:
ID                     0
Name                   0
Role                   0
Transcript             0
Resume                 0
decision               0
Reason for decision    0
Job Description        0
dtype: int64

Grouping and Aggregation Example:
Empty DataFrame
Columns: []
Index: [aaraba826, aaraba918, aarach642, aarach894, aarach971, aaragu377, aaragu580, aaraiy516, aaraiy951, aaraiy957, aarajo179, aarajo385, aaraka912, aarame118, aarame126, aarame318, aarame513, aarash365, aarasi143, aarasi289, aarasi452, aaroso119, aarota849, adamva326, adamwi542, aditba285, aditba600, aditgu330, aditgu407, aditgu568, aditgu87, aditiy381, aditjo362, aditjo655, aditka879, aditme175, aditme779, aditra357, aditra879, aditra935, aditsh163, aditsh25, aditsi182, aditsi352, aditsi450, aditsi469, aditsi713, aditsi907, adrisa378, alanto439, alexco222, alexda889, alexto726, alisco626, allesm791, allifo393, allije191, alysca454, amanco736, amanel945, amybi216, anabl781, ananba159, ananba44, ananba756, ananba856, ananch235, ananch283, ananch674, anangu185, anangu223, anangu51, anangu781, anangu98, ananiy233, ananiy562, ananiy857, ananjo670, ananjo895, ananka664, ananme848, ananra328, ananra651, ananra968, anansh155, anansh313, anansh726, anansh863, anansi133, anansi481, anansi521, anansi56, anawa381, andrgi818, andrmi845, andrpo382, andrth406, andrwa190, andrwi225, angean574, ...]

[3250 rows x 0 columns]
Cleaned data saved to cleaned_combined_data.xlsx